.contenedor-calendario {
  display: flex;
  justify-content: center;
  width: 100%;
}

.calendario {
  width: 100%;
  max-width: 900px; /* Ajusta el tamaño máximo como prefieras */
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
    font-size: 12px;
    font-weight: bold;
    margin: 0;
}

.modalidad select {
    width: 100%;
    padding: 2px;
    margin-bottom: 3px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.dias-semana {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
}

.dias-semana div {
    flex: 1;
    text-align: center;
    font-weight: bold;
    padding: 2px;
}

.dias {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.5rem;
}

.existing {
    background-color: #FD7E14;
    color: #fff;
}

.day {
    text-align: center;
    padding: 2px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 5px;
    font-size: 10px;
}

.day,
.empty-day {
  aspect-ratio: 1 / 1;
  background-color: white;
  border: 1px solid #ddd;
  text-align: center;
  line-height: 2.5rem;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 0.5rem;
}

.day:hover {
  background-color: #f0f0f0;
}

.different-month {
    color: #ccc;
}

.selected {
  background-color: #ffa500; /* naranja */
  color: white;
}

.existing {
  background-color: #ff9800; /* más fuerte */
  color: white;
}

.guardarF {
    width: 100%;
}

.nolaborable {
  background-color: #ffcc80; /* naranja claro */
  color: black;
}